[submodule "roms/6502_65C02_functional_tests"]
	path = roms/6502_65C02_functional_tests
	url = https://github.com/Klaus2m5/6502_65C02_functional_tests.git
[submodule "roms/nes-test-roms"]
	path = roms/nes-test-roms
	url = https://github.com/christopherpow/nes-test-roms
[submodule "inestool"]
	path = inestool
	url = https://github.com/dsedivec/inestool
